@(todos: List[models.Todo])

@import java.util._
@import models.Todo


@main("Top") {
<div class="todo_form">
    <p>新しいTodoを作成する</p>
    <form action="@routes.HomeController.create()" method="POST">
        <input type="text" name="name" placeholder="タスクを入力してください">
        <input type="text" name="time_limit" placeholder="期限を入力してください">
        <input type="submit" name="登録">
    </form>
</div>
<div>
    @for(todo <- todos){
        <p>@todo.name @todo.time_limit</p>
    }
</div>

}
